* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.under-navbar{
  margin-top: 0em;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
  color: #333;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./multimedia/lykio_background_1.jpg");
}



.form-group,
.form-group label,
.form-group input {
  width: 100%;
  margin-bottom: 0.5rem;
}

.form-group label {
  font-size: 0.8rem;
}

.form-group input {
  padding: 10px 20px;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: #eee;
  outline-width: 0;
  font-size: 1rem;
}

.form-group input:focus {
  border-bottom: 3px solid lightslategray;
}

.btn {
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  border: none;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: lightslategray;
  color: #fff;
}

.btn-secondary {
  background-color: #7e7d7b;
  color: #fff;
}

.error-message {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: red;
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}

.success-message {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: green;
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}

.half-em-top-margin{
  margin-top: 0.5em;
}

.login-logo{
  padding: 10px 20px;
  width: 100%;
  font-size: 1rem;
  border: none;
}