.navigation-login-logo{
  width: 25%;
  height: 25%;
}

.navbar-button-styling{
  text-decoration: none!important;
  color: white!important;
  margin-right: 1em!important;
}

.navbar-dropdown-button-styling{
  text-decoration: none;
  color: grey;
}


